.header-content
{
    
    min-height: 100px;
    border:1px solid green;
}
.sidebar
{
    
    height:400px;
     border:1px solid brown;
}

.main_content
{
    
     height:400px;
     border:1px solid brown;
}
.copyright
{
    height:70px;
     border:1px solid red;
}